
.first{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10rem;
    overflow: hidden;
    background-color: #171e29;
  }
  
  .txt-cnt{
    position: relative;
    height: 65rem;
    width: 150em;
    padding: 10rem 0;
    /* background-color: rgb(27, 27, 27); */
    bottom: 0;
    overflow: hidden;
  }
  
  .greeting{
    font-size: 12rem;
    margin: 0 2.5rem;
    color: rgba(10, 10, 10, 0.63);
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
  }
  
  .name{
    font-size: 6rem;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    color: #fff;
    margin: 0 3rem;
  }
  
  .naming{
    font-size: 3.2rem;
    color: #cecece;
    font-family: 'Poppins',sans-serif;
    font-weight: 300;
    margin: 0 3rem;
  }
  
  .intro{
    position: relative;
    font-size: 2.5rem;
    color: #cecece;
    margin: 0rem 3rem;
    font-family: 'Poppins',sans-serif;
    font-weight: 300;
  }

  .prof{
    color: #fff;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
  }
  
  .para{
    font-size: 1.7rem;
    font-family: 'Poppins',sans-serif;
    font-weight: 300;
    color: #d3d3d3;
    margin: 2rem 3rem;
  }
  
  .cntct{
    position: relative;
    height: 5rem;
    width: 20rem;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 1.5rem;
    font-family: 'Poppins',sans-serif;
    margin: 2rem 3rem;
    z-index: 1;
    transition: 0.2s;
    cursor: pointer;
  }
  
  .cntct:hover{
    background-color: #fff;
    color: #000;
  }
  
  .social-btn-cnt{
    position: absolute;
    height: 5rem;
    width: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    left: 50rem;
    bottom: 5.5rem;
  }
  
  .a{
    position: relative;
    width: 2.2rem;
    margin: 2rem 0;
  }
  
  .social{
    width: 2rem;
    filter: invert(100%) sepia(97%) saturate(13%) hue-rotate(237deg) brightness(104%) contrast(104%);
    transition: 0.1s;
  }
  
  .a:hover .social{
    filter: invert(78%) sepia(0%) saturate(1277%) hue-rotate(167deg) brightness(84%) contrast(70%);
  }
  
  .polygon-i{
    position: absolute;
    right: -20%;
    bottom: -45%;
  }

  @media(max-width: 1366px){
    .txt-cnt{
      width: 65rem;
      padding: 20rem 0;
    }
  
    .greeting{
      font-size: 7rem;
      margin: 0 3rem;
      color: rgba(0,0,0,0.5);
      font-family: 'Poppins',sans-serif;
      font-weight: 600;
    }
    
    .name{
      font-size: 5rem;
      font-family: 'Poppins',sans-serif;
      font-weight: 300;
    }
    
    .naming{
      font-size: 3rem;
      color: #fff;
      font-family: 'Comfortaa',cursive;
    }

    .intro{
      position: relative;
      font-size: 2.3rem;
      color: #cecece;
      margin: 0rem 3.5rem;
      font-family: 'Poppins',sans-serif;
      font-weight: 300;
    }
  
    .para{
      font-size: 1.5rem;
      font-family: 'Poppins',sans-serif;
      font-weight: 300;
      color: #d3d3d3;
      margin: 2rem 3.5rem;
    }
  
    .cntct{
      height: 4rem;
      width: 18rem;
      font-size: 1.2rem;
    }
    
    .cntct:hover{
      background-color: #fff;
      color: #000;
    }

    .social-btn-cnt{
      right: 10rem;
      bottom: 7rem;
    }
    .a{
      position: relative;
      width: 2rem;
      margin: 2rem 0;
    }
    .social{
      width: 1.5rem;
    }

    .polygon-i{
      position: absolute;
      width: 95rem;
      right: -20%;
      bottom: -45%;
    }
  }
  
  
  @media(max-width: 1280px){
    .txt-cnt{
      width: 65rem;
      padding: 20rem 0;
    }
  
    .greeting{
      font-size: 7rem;
      margin: 0 3rem;
      color: rgba(0,0,0,0.5);
      font-family: 'Poppins',sans-serif;
      font-weight: 600;
    }
    
    .name{
      font-size: 4.5rem;
      font-family: 'Poppins',sans-serif;
      font-weight: 300;
    }
    
    .naming{
      font-size: 2.5rem;
      color: #fff;
      font-family: 'Comfortaa',cursive;
    }

    .intro{
      font-size: 2rem;
    }
  
    .para{
      font-size: 1.3rem;
      font-family: 'Poppins',sans-serif;
      font-weight: 300;
      color: #d3d3d3;
      margin: 2rem 3.5rem;
    }
  
    .cntct{
      height: 4rem;
      width: 18rem;
      font-size: 1.2rem;
    }
    
    .cntct:hover{
      background-color: #fff;
      color: #000;
    }

    .social-btn-cnt{
      right: 10rem;
      bottom: 9rem;
    }
    .a{
      position: relative;
      width: 2rem;
      margin: 2rem 0;
    }
    .social{
      width: 1.5rem;
    }

    .polygon-i{
      position: absolute;
      width: 95rem;
      right: -20%;
      bottom: -45%;
    }
  }
  
  @media(max-width: 1024px){
    .polygon-i{
      width: 80rem;
      right: -30%;
      bottom: -5%;
      transform: rotateZ(-90deg);
    }
  }
  
  @media(max-width: 990px){
    html{
        font-size: 8px;
    }

    .txt-cnt{
      width: 65rem;
      padding: 15rem 0;
    }
  
    .greeting{
      font-size: 8.5rem;
      margin: 0 3rem;
      color: rgba(0,0,0,0.5);
      font-family: 'Poppins',sans-serif;
      font-weight: 600;
    }
    
    .name{
      font-size: 5.5rem;
      font-family: 'Poppins',sans-serif;
      font-weight: 300;
    }
    
    .naming{
      font-size: 3rem;
      color: #fff;
      font-family: 'Comfortaa',cursive;
    }

    .intro{
      font-size: 2.5rem;
    }
  
    .para{
      font-size: 1.7rem;
    }
  
    .cntct{
      height: 5rem;
      width: 20rem;
      font-size: 1.5rem;
    }
    
    .cntct:hover{
      background-color: #fff;
      color: #000;
    }

    .social-btn-cnt{
      right: 10rem;
      bottom: 6rem;
    }
    .a{
      position: relative;
      width: 2rem;
      margin: 2rem 0;
    }
    .social{
      width: 1.5rem;
    }

    .polygon-i{
      width: 100rem;
      right: -30%;
      bottom: -5%;
      transform: rotateZ(-90deg);
    }
  }
  
  @media(max-width: 600px){
  
    .first{
      position: relative;
      height: 100vh;
      width: 100%;
      display: flex;
      align-items: center;
      /* justify-content: center; */
      padding: 0 5rem;
    }
  
    .txt-cnt{
      height: 60rem;
      width: 85em;
      padding: 10rem 0rem;
      bottom: 0;
      overflow: hidden;
    }

    .polygon-i{
      width: 80rem;
      right: -50%;
      bottom: -40%;
      transform: rotateZ(-90deg);
    }
  }
  
  @media(max-width: 415px){
  
    .txt-cnt{
      padding: 5rem 0;
    }
    
    .greeting{
      font-size: 3rem;
      margin: 0 1.7rem;
    }
  
    .name{
      font-size: 3.8rem;
      line-height: 5rem;
      margin: 1rem 2rem;
    }
  
    .naming{
      font-size: 2.5rem;
      margin: 1rem 2rem;
      color: #fff;
      font-family: 'Poppins',sans-serif;
    }
  
    .intro{
      font-size: 2rem;
      margin: 1rem 2rem;
      font-family: 'Poppins',sans-serif;
    }

    .para{
      margin: 1rem 2rem;
    }

    .cntct{
      height: 4.5rem;
      width: 18rem;
      font-size: 1.5rem;
      margin: 1rem 2rem;
    }

    .social-btn-cnt{
      left: -4rem;
      bottom: 10rem;
    }
    
  }
  
  @media(max-width: 375px){
    .txt-cnt{
      padding: 5rem 0;
    }
    
    .greeting{
      font-size: 5rem;
      margin: 0 1.2rem;
    }
  
    .name{
      font-size: 3.2rem;
    }
  
    .naming{
      font-size: 2.3rem;
      margin: 1rem 2rem;
    }
  
    .intro{
      font-size: 1.7rem;
      margin: 1rem 2rem;
      font-family: 'Poppins',sans-serif;
    }

    .para{
      margin: 1rem 2rem;
      font-size: 1.5rem;
    }

    .cntct{
      height: 4rem;
      width: 15rem;
      font-size: 1.2rem;
    }

    .social-btn-cnt{
      left: -4rem;
      bottom: 15rem;
    }

    .polygon-i{
      width: 70rem;
      right: -30%;
      bottom: -40%;
      transform: rotateZ(0deg);
    }
  }

  