
:root{
    --Poppins: 'Poppins',sans-serif;
    --font-color-default: #fff;
}

.fourth{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #0A0D13;
    overflow: hidden;
}

.f-header{
    height: 20rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-head{
    position: relative;
    font-size: 12rem;
    font-family: var(--Poppins);
    color: rgba(0, 0, 0, 0.404);
    user-select: none;
}

.f-head::after{
    position: absolute;
    content: "Feel Free to Email Me";
    font-weight: 300;
    width: 40rem;
    color: #bbbbbb;
    font-size: 3.5rem;
    top: 35%;
    left: 30%;
}

.inpt-frm-cont-cnt{
    height: 55rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper{
    position: relative;
    height: 50rem;
    width: 100rem;
    display: flex;
    z-index: 100;
    filter: drop-shadow(0 2rem 1rem rgba(0,0,0,0.5));
}

.img{
    height: 50rem;
    width: 50rem;
    background-image: linear-gradient(rgba(10,13,19,0.5),rgba(10,13,19,0.5)),url(../assets/Images/pexels-fauxels-3184454.jpg);
    background-size: cover;
    background-position: -15rem 0;
}

.frm{
    height: 50rem;
    width: 50rem;
    background-color: #0f131a;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    padding: 0 5rem;
    gap: 2rem;
}


.input{
    height: 5rem;
    width: 40rem;
    background-color: rgba(0,0,0,0.5);
    border: none;
    padding: 1rem 2rem;
    color: #fff;
    font-size: 1.7rem;
    font-family: var(--Poppins);
    outline: none;
}

.message{
    height: 15rem;
}

::placeholder{
    color: #bbbbbb;
    font-weight: 200;
    font-size: 1.5rem;
}

.message-sub{
    height: 5rem;
    width: 20rem;
    margin: 1rem 0;
    background-color: transparent;
    font-family: var(--Poppins);
    border: 1px solid var(--font-color-default);
    color: var(--font-color-default);
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.4s;
}

.message-sub:hover{
    color: #000;
    background-color: var(--font-color-default);
}

.poly-iv{
    position: absolute;
    left: -30%;
    bottom: -60rem;
    pointer-events: none;
}