
:root{
    --Poppins: 'Poppins',sans-serif;
    --font-color-default: #fff;
}

.third{
    height: 100vh;
    width: 100%;
    background-color: #131313;
    overflow: hidden;
    background-image: linear-gradient(rgba(19, 19, 19, 0.7), rgba(19, 19, 19, 0.7)),url(../assets/Images/right.png);
    background-size: cover;
    background-position: center;
}

.t-header{
    height: 20rem;
    padding-top: 10rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid; */
}

.t-head{
    position: relative;
    font-size: 12rem;
    font-family: var(--Poppins);
    color: transparent;
    -webkit-text-stroke: 1.5px rgb(0, 202, 78);
    user-select: none;
}

.t-head-after{
    position: absolute;
    font-weight: 300;
    width: 40rem;
    font-family: var(--Poppins);
    color: #e7e7e7;
    font-size: 3.5rem;
}

.prjct-cont-cnt{
    position: relative;
    height: 60rem;
    width: 100%;
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10rem;
    margin-bottom: 5rem;
    /* border: 1px solid; */
}

.projects{
    height: 50rem;
    width: 100%;    
    /* border: 1px solid; */
    margin: 0 5rem;
    display: flex;
    flex-wrap: wrap;
}

.para-cnt, 
.prjct-icons-cnt{
    height: 50rem;
    width: 50%;
    /* border: 1px solid; */
    padding: 3rem 5rem;
}

.prjct-heading-cont{
    color: var(--font-color-default);
    font-size: 3rem;
    font-family: var(--Poppins);
    font-weight: 400;
}

.prjct-para{
    font-family: var(--Poppins);
    color: var(--font-color-default);
    font-size: 1.5rem;
}

.prjct-par-frst{
    font-family: var(--Poppins);
    color: #fff;
    font-size: 1.45rem;
    line-height: 3rem;
}

.prjct-btn{
    position: relative;
    height: 5rem;
    width: 25rem;
    margin: 5rem 0;
    background-color: transparent;
    color: rgb(0, 202, 78);
    border: 1px solid rgb(0, 202, 78);
    font-weight: 400;
    font-size: 1.5rem;
    transition: 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--Poppins);
    text-decoration: none;
}

.prjct-btn:hover{
    background-color: #fff;
    color: #000;
    border: none;
}

.github-ico{
    height: 1.5rem;
    width: 1.5rem;
    background-image: url(../assets/Icons/github.svg);
    background-size: cover;
    background-position: center;
    margin: 0 .5rem;
    filter: invert(60%) sepia(72%) saturate(3480%) hue-rotate(105deg) brightness(99%) contrast(101%);
}

.prjct-icons-cnt{
    display: flex;
    flex-direction: column;
}

.ico-bx-cnt{
    /* border: 1px solid; */
    margin: 2rem 0;
    height: 35rem;
    width: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.tech-cnt{
    height: 15rem;
    width: 15rem;
    border: 2px solid rgb(0, 202, 78);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
    cursor: pointer;
    text-decoration: none;
}

.tech-cnt:hover{
    border: 2px solid #fff;
    background-color: #dadada;
}

.tech-cnt:hover .title{
    color: #000;
}

.icon-cnt{
    height: 5rem;
    width: 5rem;
    background-size: cover;
    background-position: center;
    filter: invert(60%) sepia(72%) saturate(3480%) hue-rotate(105deg) brightness(99%) contrast(101%);
}

.h{
    background-image: url(../assets/Logo/html.png);
}
.j{
    background-image: url(../assets/Logo/js.png);
}
.r{
    background-image: url(../assets/Logo/react.png);
}
.p{
    background-image: url(../assets/Logo/py.png);
}
.c{
    background-image: url(../assets/Logo/cpp.png);
}

.title{
    font-family: var(--Poppins);
    font-weight: 500;
    color: rgb(0, 202, 78);
    margin-top: 2rem;
    user-select: none;
}


/* ------------------ */